<form class="toolbox_search-form float-left">
  <label for="searchValue"
         class="magic-underline inline-block">
    <input id="searchValue"
           class="input"
           type="text"
           placeholder="name fragment or date"
           [(ngModel)]="searchKey"
           [ngModelOptions]="{standalone: true}">
  </label>
  <button (click)="search(searchKey)"
          class="button">
    Find
  </button>
</form>
<a href="/create-course" class="toolbox_add-course-button button capitalize float-right">
  add course
</a>
