@import '../../../assets/variables';

.wrapper__create-course {
  width: 60%;
  height: 100%;
  margin: auto;

  .label {
    margin-bottom: @padding-m;

    .input {
      width: 50%;
      &_duration {
        width: 25%;
      }
    }

    .text_duration {
      padding-left: 10px;
      width: 25%;
    }

    .textarea_description {
      resize: vertical;
      min-height: 100px;
      width: 50%;
    }
  }

  .checkBoxList-list {
    width: 50%;
    background: @white;

    &_item {

      &-label {

      }

      &-input {

      }
    }
  }
}
