<div class="wrapper">
  <header class="header">
    <app-header></app-header>
  </header>

  <main class="main">
    <div
          class="wrapper__create-course">

      <label class="magic-underline label block inline-list">
        <span class="label-text__half-width center-text">
          Title
        </span>
        <input type="text"
               class="input">
      </label>

      <label class="magic-underline label block inline-list">
        <span class="label-text__half-width center-text">
          Description
        </span>
        <textarea type="text">
        </textarea>
      </label>

      <label class="magic-underline label block inline-list">
        <span class="label-text__half-width center-text">
          Date
        </span>
        <input type="date"
               class="input">
      </label>

      <label class="magic-underline label block inline-list">
        <span class="label-text__half-width center-text">
          Duration
        </span>
        <input type="number"
               class="input"
               name="duration"
        [(ngModel)]="durationVal">
        <span>{{durationVal}}</span>
      </label>

      <label class="magic-underline label block inline-list">
        <span class="label-text__half-width center-text">
          Authors
        </span>
        <span class="label-text__half-width inline-list">
          <select multiple
                  class="block create-course_select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
          <span>
            <button class="block">
              >
            </button>
            <button class="block">
              <
            </button>
          </span>
          <select multiple
                  class="block create-course_select">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select>
        </span>
      </label>

      <div class="">
        <button>Save</button>
        <button>Cancel</button>
      </div>
    </div>
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
