<div class="wrapper">
  <header class="header">
    <app-header></app-header>
  </header>

  <main class="main">
    <div class="wrapper__create-course vertical-align_parent__all-children">
      <form class="margin-top_l"
            #courseForm="ngForm"
            (submit)="submit(courseForm)">
        <label class="magic-underline label block inline-list">
          <span class="label-text__half-width center-text">
            Title
          </span>
          <input name="title"
                 type="text"
                 class="input"
                 [ngModel]="courseForm.title"
                 required
                 minlength="3" maxlength="50">
        </label>

        <label class="magic-underline label block inline-list">
          <span class="label-text__half-width center-text">
            Description
          </span>
          <textarea name="description"
                    type="text"
                    resize
                    class="input textarea_description"
                    [ngModel]="courseForm.description"
                    required
                    maxlength="500">
          </textarea>
        </label>
        <label class="magic-underline label block inline-list">
          <span class="label-text__half-width center-text">
            Date
          </span>
          <app-date-input class="date-input"
                          name="date"
                          [(ngModel)]="courseForm.date"
                          required>
          </app-date-input>
        </label>

        <label class="magic-underline label block inline-list">
          <span class="label-text__half-width center-text">
            Duration
          </span>
          <input type="number"
                 class="input input_duration"
                 name="duration"
                 [ngModel]="courseForm.duration"
                 required>
          <span class="text_duration">{{courseForm.value.duration | duration}}</span>
        </label>

        <label class="magic-underline label block inline-list">
          <span class="label-text__half-width center-text">
            Authors
          </span>
          <app-checkbox-list [list]="authorsList"></app-checkbox-list>
        </label>

        <div class="align-middle_horizontal inline-block">
          <button class="button" [disabled]="courseForm.invalid" type="submit">Save</button>
          <button class="button">Cancel</button>
        </div>
      </form>
    </div>
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
