<div class="wrapper">
  <header class="header">
    <app-header></app-header>
  </header>

  <main class="main courses-page">
    <app-toolbox class="courses_toolbox clearfix vertical-align_parent"
                 (filter)="filterList($event)"></app-toolbox>
    <ul class="courses">
      <li *ngIf="!courses"
          class="no-courses-block">
        No data. Feel free to add new course.
      </li>
      <li *ngFor="let course of courses | orderBy:'date'">
        <app-course-block [course]="course"
                          class="block course-block"
                          [ngClass]="{
                            'course-block_green': isFreshCourse(course),
                            'course-block_blue': isUpcommingCourse(course)
                          }"
                          (courseDeleted)="handleCourseDelete($event)"
                          (courseEdited)="handleCourseEdit($event)"
                          (courseRated)="rateCourse($event)">
        </app-course-block>
      </li>
    </ul>
    <app-modal [(show)]="showDeleteModal"
               (result)="handleModalResult($event)">
      <h2>
        {{modalHeading}}
      </h2>
      <p class="modal_message">
        {{modalMessage}}
      </p>
    </app-modal>
    <app-modal [(show)]="showEditModal"
               (result)="handleModalResult($event)">
      <p class="modal_message">
        edit form
      </p>
    </app-modal>
  </main>

  <footer class="footer">
    <app-footer></app-footer>
  </footer>
</div>
