<div class="header_content vertical-align_parent inline-list clearfix">
  <app-logo class="header_logo"></app-logo>
  <div class="header_breadcrumbs">
    <app-breadcrumbs *ngIf="!hideBreadcrumbs"></app-breadcrumbs>
  </div>
  <div *ngIf="!hideLogIn"
       class="header_login-block">
    <div *ngIf="isLogged">
      <span>{{user.name.first}} {{user.name.last}}</span>
      <span tabindex="0"
            class="block link"
            (click)="logOut($event)">
        log out
      </span>
    </div>
    <a *ngIf="!isLogged"
       href="/login"
       class="block">
      log in
    </a>
  </div>
</div>
