<div class="header_content vertical-align_parent inline-list clearfix">
  <app-logo class="header_logo"></app-logo>
  <div class="header_breadcrumbs">
    <app-breadcrumbs *ngIf="!hideBreadcrumbs"></app-breadcrumbs>
  </div>
  <div *ngIf="!hideLogIn"
       class="header_login-block">
    <span>{{user.name}}</span>
    <a *ngIf="isLogged"
       href=""
       class="block"
       (click)="logOff($event)">
      log out
    </a>
    <a *ngIf="!isLogged"
       href="/login"
       class="block">
      log in
    </a>
  </div>
</div>
