.header_content {
  height: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
}

.header_logo,
.header_breadcrumbs,
.header_login-block {
  vertical-align: middle;
  word-wrap: normal;
}

.header_logo {
  width: 40%;
}

.header_breadcrumbs {
  width: 45%;
}

.header_login-block {
  width: 15%;
  text-align: end;
}
