<form action=""
      class="login-form">
  <label class="magic-underline block inline-list login-form_label">
    <span class="login-form_label-text inline-block">
      Login
    </span>
    <input type="text"
           name="login"
           class="input login-form_input"
           required>
  </label>
  <label class="magic-underline block inline-list login-form_label">
    <span class="login-form_label-text inline-block">
      Password
    </span>
    <input type="text"
           name="password"
           class="input login-form_input"
           required>
  </label>
  <input type="submit"
         value="Enter"
         class="button login-form_submit">
</form>
