.logo {
  display: inline-block;
  max-height: 100px;
}
.logo:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.logo_image {
  display: inline-block;
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border: 1px solid #000000;
}
.logo_description {
  display: inline-block;
  height: 100%;
}
