<section class="course-block clearfix">
  <div class="course-block_description inline-block float-left">
    <h2 class="inline-block">
      Video course
      <span>N</span>
      <span>1h 28m</span>
    </h2>
    <span class="float-right">
      date
    </span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
  </div>
  <div class="course-block_controls inline-block float-right">
    <button class="button course-block_button">
      Edit course
    </button>
    <button class="button course-block_button">
      Delete
    </button>
  </div>
</section>
