@import "../../../../assets/variables.less";

.course-block {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  background: #ffffff;
  transition: all 0.25s ease;
  box-shadow: 0 0 5px 0 #9e9e9e;

  .fa-star {
    color: @gold;
    cursor: pointer;

    &:hover {
      font-weight: 900;
    }
  }
}

.course-block_header {
  vertical-align: middle;

  .heading {
    display: inline-block;
    margin-top: 0;
  }
}
.course-block_description {
  max-width: 70%;
}
.course-block_controls {
  width: 100%;
  max-width: 30%;
  padding: 5px;
}
.course-block_button {
  width: 100%;
  margin: 5px;
  display: block;
  padding: 5px 10px;
}
