<section id="{{course.id}}"
         class="course-block clearfix">
  <div class="course-block_description inline-block float-left">
    <h2 class="inline-block">
      {{course.title}}
      <span>{{course.duration | date : "hh:mm:ss" : "UTC"}}</span>
    </h2>
    <span class="float-right">
      {{course.date | date}}
    </span>
    <p>
      {{course.description}}
    </p>
  </div>
  <div *ngIf="course.controls"
       class="course-block_controls inline-block float-right">
    <button *ngFor="let control of course.controls"
            class="button course-block_button"
            (click)="controlEvent(control.event)">
      {{control.label}}
    </button>
  </div>
</section>
