.course-block {
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #000;
}
.course-block_description {
  max-width: 70%;
}
.course-block_controls {
  width: 100%;
  max-width: 30%;
  padding: 5px;
}
.course-block_button {
  width: 100%;
  margin: 5px;
  display: block;
  padding: 5px 10px;
  background: #8bbe75;
  border: 1px solid #506d43;
  border-radius: 5px;
}
