@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a {
  color: #26a69a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.wrapper {
  display: table;
}

.header,
.main,
.footer {
  display: table-row;
  position: relative;
}

.header {
}

.main {
  height: 100%;
}

.footer {
}

.button {
  border: none;
  border-radius: @border-radius-s;
  padding: @padding-m;
  background: #26a69a;
  color: @white;
  height: @height-button;
}

.button:hover {
  background: lighten(@green, 10%);
}

.label {
  min-height: @height-input;

  .label-text {

    &__half-width {
      width: 50%;
    }
  }
  .input__centered {
    width: 50%;
    text-align: center;
  }
}

.input{
  height: @height-input;
  border: 1px solid lighten(@green, 40%);
  padding: @padding-s @padding-xl;

  &[type="checkbox"] {
    height: @height-input / 2;
    border: none;
  }
}

.link {
  color: @green;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
