/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}
.wrapper {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
.float-left {
  float: left;
}
.float-right{
  float: right;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
